<div class="home-page">
  <h1>Save Anything. Read Anywhere</h1>
  <% if user_signed_in? %>
    <p>Hi 👋 M. <%= current_user.first_name %></p>
  <% else %>
    <p>Log in </p>
  <% end %>
  <%= link_to "Mes collections", collections_path, class: "btn btn-primary" %>
</div>
