<div class="new-link-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <h1>Edit Link</h1>

        <div class="form-container">
          <%= render 'form', link: @link %>
        </div>

        <%= link_to 'Back', collection_path(@link.collection), class: "btn btn-secondary mt-3" %>
      </div>
    </div>
  </div>
</div>

